@use "../../styles/variables" as vars;

.container {
  padding: 0 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  @include vars.tabletMin {
    &:global(.list) {
      display: flex;
      flex-direction: column;
    }
  }
}
