// Colors
$background: #0a0c0f;
$background-light: #0f1316;
$foreground: #1a2127;
$font-color-dim: rgb(139, 152, 158);
$font-color: rgb(255, 255, 255);

$border-radius: 1rem;
$transition-duration: 0.2s;

// zIndexes
$zIndex-modal: 100;
$zIndex-backdrop: 99;
$zIndex-menu: 90;

// Mixins
@mixin mobileMax {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tabletMin {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tabletMax {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin desktopMin {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
