@use "@/styles/variables" as vars;

.container {
  position: relative;
  display: inline-block;

  .hidden {
    display: none;
  }

  .trigger {
    position: relative;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: vars.$background-light;
    transition: background-color vars.$transition-duration;

    .clearIcon {
      color: vars.$font-color-dim;
      position: absolute;
      right: 1rem;
    }

    .placeholder {
      color: vars.$font-color-dim;
    }
  }

  &.open {
    .trigger {
      background-color: vars.$foreground;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: vars.$zIndex-backdrop;
  display: none;

  .open & {
    display: block;
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  //Counter the parent border
  left: -0.25rem;
  background: vars.$background-light;
  border: 0.25rem solid vars.$foreground;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: all vars.$transition-duration ease-in-out;
  z-index: vars.$zIndex-modal;

  &.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.option {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 0.2s;

  &.disabled {
    color: vars.$font-color-dim;
    pointer-events: none;
    cursor: not-allowed;
  }

  &:hover {
    background: vars.$foreground;
  }
}
