@use '../../styles/variables' as vars;

.card {
  display: block;
  padding: 1rem;
  border: 1px solid vars.$secondary-color;
  border-radius: vars.$border-radius;
  margin: 0.5rem;
  text-decoration: none;
  color: inherit;
  transition: transform vars.$transition-duration;

  &:hover {
    transform: translateY(-2px);
  }

  @include vars.mobile {
    margin: 0.25rem;
  }

  svg {
    color: red; 
  }
} 