@use "../../styles/variables" as vars;
.container {
  padding: 2rem;
  max-width: 90vw;
  width: fit-content;
  margin: 0 auto;

  .pokemonInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
      padding: 1rem 0;
    }
  }
}
