@use "../../styles/variables" as vars;

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(
      to right,
      vars.$foreground,
      vars.$background-light
    );
    padding: 1rem;

    .icons {
      display: flex;
      gap: 1rem;
      z-index: 1;
      margin: auto 0;
      width: fit-content;
      height: 100%;
    }
  }

  .backLink {
    display: inline-block;
    margin-bottom: 2rem;
    font-weight: 500;
    color: vars.$font-color-dim;

    svg {
      float: left;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    background: vars.$background-light;
    border-left: 0.25rem solid vars.$foreground;

    .stats {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      p {
        color: vars.$font-color-dim;
      }

      h3 {
        margin-bottom: 1rem;
      }

      .physical,
      .battle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }

      .types,
      .attributes {
        .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }

      .attributes {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }

    .media {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      position: relative;

      .image {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  .evolutions {
    margin-top: 4rem;

    h2 {
      font-size: 2.4rem;
    }

    .evolutionsContent {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      margin-left: -0.5rem;
    }
  }

  @include vars.mobile {
    padding: 2rem 1rem;

    .content {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 1rem;

      h2 {
        font-size: 2.4rem;
      }
    }

    .evolutions {
      margin-top: 2rem;

      h2 {
        font-size: 2rem;
      }
    }
  }
}
