@use "../../styles/variables" as vars;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: vars.$zIndex-modal;
  overflow: hidden;
}

.content {
  max-height: 90vh;
  display: block;
  position: relative;
  z-index: vars.$zIndex-modal;
  overflow-y: scroll;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: vars.$zIndex-backdrop;
}
