.container {
  --input-bd: red;
  --input-bg: green;
}

.controls {
  display: flex;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .filters {
    display: flex;
    gap: 1rem;
    .search {
      border-radius: 20px;
      flex-grow: 1;
    }
    .type {
      border-radius: 20px;
      flex-grow: 5;
    }
  }
}

.loadMore {
  height: 20px;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
