@use "../../styles/variables" as vars;

@mixin type-gradient($color) {
  background: linear-gradient(
    90deg,
    $color 3rem,
    vars.$background-light calc(3rem + 1px),
    vars.$background-light
  );
  box-shadow: 0 0 20px $color;
}

.typeTag {
  height: 3rem;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  color: white;
  margin: 0.25rem;
  background-color: vars.$background-light;
  outline: 0.25rem solid vars.$background-light;
  outline-offset: -0.25rem;

  .icon {
    width: 1.5rem;
  }
}

.bug {
  @include type-gradient(#92bc2c);
}

.dark {
  @include type-gradient(#595761);
}

.dragon {
  @include type-gradient(#0c69c8);
}

.electric {
  @include type-gradient(#f2d94e);
}

.fire {
  @include type-gradient(#fba54c);
}

.fairy {
  @include type-gradient(#ee90e6);
}

.fighting {
  @include type-gradient(#d3425f);
}

.flying {
  @include type-gradient(#a1bbec);
}

.ghost {
  @include type-gradient(#5f6dbc);
}

.grass {
  @include type-gradient(#5fbd58);
}

.ground {
  @include type-gradient(#da7c4d);
}

.ice {
  @include type-gradient(#75d0c1);
}

.normal {
  @include type-gradient(#a0a29f);
}

.poison {
  @include type-gradient(#b763cf);
}

.psychic {
  @include type-gradient(#fa8581);
}

.rock {
  @include type-gradient(#c9bb8a);
}

.steel {
  @include type-gradient(#5695a3);
}

.water {
  @include type-gradient(#539ddf);
}
